<div class="about">
   <div>
        <h1 class="text-center mt-2 h1 font"><i>Ristorante Le Gambero Rosso</i></h1>
        <hr>
        <p>Is a family restaurant, we make food in our restorant from the year 1972.</p>
        <p>Italian restaurant is stylish and elegant high-class establishment. Here the service is at a very high level, the interior is thorough to the smallest detail, and the food is taken care of by a world-famous chef. <br>Michelin stars: <span style="font-size:170%;color:yellow;">&starf;</span><span style="font-size:170%;color:yellow;">&starf;</span><span style="font-size:170%;color:yellow;">&starf;</span><span style="font-size:170%;color:yellow;">&starf;</span><span style="font-size:170%;color:yellow;">&starf;</span></p>
        <p>Our address: Via Raggio di Sole 7, Province of Padua, Italy</p>
    </div>
    <br>
    <div class="images">
        <img src="./assets/balkon.jpg" alt="">
        <img src="./assets/lights.jpg" alt="">
        <img src="./assets/rest.jpg" alt="">
    </div>
</div>