.card {
    display: inline-flex;
    text-align: center;
}

.form {
    
    .btn {
        margin-top: 5px;
    }
}

.summary {
    border: 2px solid gray;
    border-radius: 5px;
    width: 30vh;
    padding: 5px;
}

.font {
    font-family: "Sofia";
}