<div class="homepage">
    <div class="allof">
        <h2 class="font"><i>Ristorante Le Gambero Rosso</i></h2>
        <p>Delivering great food for more than 18 years!</p>
        <button class="btn btn-success" routerLink="/menu">Our Specials</button>
    </div>
</div>

<div class="home2">
    <h3 class="font">Why choose us</h3>
    <hr>
    <ul class="list font">
        <li>The best restauran in Padova Province in North of Italy</li>
        <li>Fastest delivery, you will get your food fresh and still hot</li>
        <li>Our chef is one of the bests in Italy</li>
    </ul>
</div>
<br>
<div class="home3">
    <h3 class="font">You can also book a table at our place</h3>
    <button class="btn btn-success">Book a Table</button>
</div>
<br>
<div class="home5">
    <h3 class="font"><i>We choose quality, what about you?</i></h3>
</div>
<br>
<div class="home4">
    <img src="/assets/home4pizza.jpg" alt="">
    <img src="/assets/home4pasta.jpg" alt="">
    <img src="/assets/home4spagh.jpg" alt="">
</div>